# Eclipse
.project
.classpath
.settings/

# Maven
target/

# Logs
logs/


# Screenshots
screenshots/

# OS Files
.DS_Store
Thumbs.db

# IntelliJ
.idea/

# Compiled Classes
*.class

# Temporary Files
*.tmp

test-output/